{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.title }}" src="https://alekthegenius.github.io/icon.png" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.title }}" src="https://alekthegenius.github.io/icon.png" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.title }}</h1>
        <h2 class="description">{{ site.bio }}</h2>
        <h2 class="description">If you Want to go Look at my Buisness Website Instead, Click <a class="link" data-title="https://alekthegenius.github.io/tech/" target="_blank" rel="noopener">Here</a></h2>
       
        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
